td:has(.table-img) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table-img {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: "Public Sans", sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    overflow: hidden;
    user-select: none;
    border-radius: 12px;
    width: 64px;
    height: 64px;
    display: flex;
}

.table-real-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}